@pc-header-height: 48px;
@pc-footer-height: 67px;
@pc-aside-width: 288px;
@aside-tab-nav-height: 37px;
@chat-opetations-height: 102px;

@aside-player-width: @pc-aside-width;
@aside-player-height: 162px;

@page-backgroud-color: #fcfcfd;
@primary-color: #1597ff;
@primary-color-hover: #3ca5ff;
@primary-color-active: #0773d9;
@primary-background-color: #e3f2ff;

@text-color: #3a3d48;
@text-color-lighten: #747a8c;
@text-color-invert: #fcfcfd;

@divider-color: #e6e7ec;

// 演讲者视图顶部列表高度
@speaker-top-height: 124px;

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollbar(@width: 8px, @height: 8px) {
  &::-webkit-scrollbar {
    width: @width;
    height: @height;
    background-color: lighten(#000, 90%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten(#000, 60%);
    border-radius: @width / 2 + 1px;
  }
}

.grid-background(@size: 10px, @line-width: 1px, @line-color: rgba(64, 132, 246, 0.3), @bg-color: #f2f2f2) {
  background-image: linear-gradient(@line-color @line-width, transparent 0),
    linear-gradient(90deg, @line-color @line-width, transparent 0);
  background-size: @size @size;
  background-color: @bg-color;
}

.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}
