@import '../../styles/base.less';

@online-color: @primary-color;
@offline-color: #bbdeff;

.pc-header {
  position: relative;
  width: 100%;
  height: @pc-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 0 @divider-color;
}

.pc-header-divider {
  height: 24px;
  width: 1px;
  margin: 0 24px;
  background-color: @divider-color;
}

.pc-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pc-id-block {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  padding-left: 16px;

  svg {
    margin-left: 12px;
    font-size: 18px;
    transform: rotateY(180deg);
    cursor: pointer;

    &:hover {
      color: @primary-color;
    }
  }
}

.classroom-status {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  color: @text-color-lighten;
}

.classroom-status--online {
  .classroom-status;
  color: @text-color;

  .classroom-status-svg {
    color: @online-color;
  }
}

.classroom-status-svg {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  color: @offline-color;
}

.pc-header-right {
  float: right;
  padding: 0 8px;
  height: 100%;
  .clearfix();
}

.pc-header-exit {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding: 0 8px;
  height: 100%;
  color: @primary-color;
  cursor: pointer;

  svg {
    font-size: 18px;
    margin-right: 8px;
  }

  &:hover {
    color: @primary-color-hover;
  }
}
